name: Start Site
on:
  push:
    branches:
      - master
    tags:
      - "!*"

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: yokobond/scratch-gui
          ref: xcratch
          path: ./scratch-gui
      - run: npm install
        working-directory: ./scratch-gui
      - uses: actions/checkout@v2
        with:
          repository: yokobond/mbit-more-v2
          ref: master
          path: ./mbit-more-v2
      - run: node ./scripts/register.js --id=microbitMore --gui=../scratch-gui -C
        working-directory: ./mbit-more-v2
      - run: node ./scripts/change-logo.js -gui=../scratch-gui
        working-directory: ./mbit-more-v2
      - run: npm run build
        working-directory: ./scratch-gui
      - run: cp ./mbit-more-v2/site/index.html ./scratch-gui/build/index.html
      - run: cp ./mbit-more-v2/site/favicon.ico ./scratch-gui/build/static/favicon.ico
      - run: cp -r ./mbit-more-v2/dist ./scratch-gui/build/dist
      - run: cp -r ./mbit-more-v2/examples ./scratch-gui/build/examples
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./scratch-gui/build
          keep_files: true
